*{
    box-sizing: border-box;
    
   font-family: 'Times New Roman', Times, serif;
    
    
}
body{
    background-image:url('project.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    min-height: auto;
}
.bd{
    justify-content: center;
    justify-items: center;
    padding: 10px;
    margin: 0px;
   
   
   
    
}
.container{
    
    
   
}
.nv{
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    max-width: 500px;
    margin: 0px 800px;
    position: relative;
    
}
#img{
    align-items: center;
    margin: 30px;
    transition-property: transform;
    transition-duration: 900ms;
    transition: delay 1s;
    height:400px;
    width:400px;
    animation-name: big;
    
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
   
}
@keyframes big {

    from{ transform: scale(1.0);}
    to { transform: scale(1.2);}
}
@keyframes small {

    from{ transform: scale(1.2);}
    to { transform: scale(1.0);}
}


.n {
    color: rgb(242, 241, 241) ;

    background-color: rgba(0, 0, 0, 0.586);
    padding: 20px;
   
}
.btn{
    background:rgba(0, 0, 0, 0.637);
    border: none;
    color: aliceblue;
    padding: 50px;
    font-size: medium;
   
}
.btn:hover{
    background: rgba(0, 0, 0, 0);
    border: none;
    color: aliceblue;
   
   
}
.btn1{
    background:rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 50px;
    font-size: medium;
    
   
}
.n1 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

.nv2{
    background-color: rgba(155, 169, 162, 0.637);
    padding: 20px;
    margin: auto;
    border-radius: 800px;
    min-height: auto;
    max-width:500px;
}
.box{

    width: 40%;
    margin: auto;

}
.box #m ,  #m1 ,  #m2, #m4{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
#hh{
    padding: 30px;
  position: relative;
    height: auto;
    border-bottom: 20px black;
    max-width: 100%;
    margin:0px 00px;
    text-align: center;
}
.f1{
    display: block;
    margin: auto;
}
.cal{
    display: flex;
    flex-direction: column;
}
.click{
   display: block;
   margin: 10px 0px;
   padding:10px;
}
#output{
    word-wrap: break-word;
    font-size: large;
    font-weight: 300;
    text-decoration: underline;
    letter-spacing: 2px;
}

@media screen and (width < 1100px){
    .bd{
       
        margin: 0%;
        background-size:cover;
        background-attachment:fixed ;
    
    }
    
    .nv{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin:0px 00px;
        flex: 50%;
    

    }
    .container{
        display: flex;
        margin-left:0px;
    }
}
@media screen and (950px <  width < 1300px){
    .bd{
       
        margin: 0% ;
        background-size:cover;
        background-attachment:fixed ;
    
    }
    
    .nv{
      
        width: 40%;
        margin:0px 250px;
        flex: 50%;
    

    }
    
}

@media screen and (width < 600px){
    .bd{
       
        margin: 0% ;
        background-size:cover;
        background-attachment:fixed ;
    }
    
    .nv{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin:0px;
        flex: 50%;
        padding: 0%;
        padding-left: 5px;
    

    }
    .container{
        display: flex;
        margin-left:0px;
    }
    #hh{
        margin: left 0px;;
        display: block;
        flex: 50%;
    }
    #img{
       
    }
   .btn{
    padding: 5px;
    font-size: 12px;
    padding-top: 17px;
    padding-bottom: 17px;
   }
   .btn1{
    padding: 5px;
    font-size: 12px;
    padding-top: 17px;
    padding-bottom: 17px;
   }
    
   #img{
   
    transition-property: transform;
    transition-duration: 900ms;
    transition: delay 1s;
    height:250px;
    width:250px;
    margin: revert;
    animation-name: big;
    
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
   
}
@keyframes big {

    from{ transform: scale(1.0);}
    to { transform: scale(1.1);}
}
.nv2{
    width: 300px;
}
}